<!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>504 Water Street | Eau Claire, WI 54703 | (715) 838.8880 |  <a href="mailto:webmaster@example.com">avalonfloralso@gmail.com</a></p>
                    <p>Copyright &copy; Avalon Floral 2014</p>
                    



                    
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->