<body background="images/navbackground.jpg">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><span id="green">A</span>valon Floral</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <!-- Single button -->
<li><div class="dropdown">
   <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
      data-toggle="dropdown">
       <span id="space">.</span>Shop
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="arrangements.html">Hand-Crafted Arrangements</a>
      </li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#">Build Your Own</a>
      </li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="subscription.html">
            Subscription
         </a>
      </li>
   </ul>
    </div></li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                     <li>
                       <a id="fbook" class="snipcart-checkout" href="#"> <img id ="fbook"src = "assets/images/cart.jpg"</img></a>
                         
                         
                    </li>
                   <li>
                       <a target="_blank" id="fbook" href="https://www.facebook.com/pages/Avalon-Floral/108029693932"> <img id ="fbook"src = "assets/images/facebook.jpg"</img></a>
                    </li>
                </ul>
                    
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>