<!DOCTYPE html>
<html lang="en">

<%= render partial: "layouts/head" %>

<%= render partial: "layouts/navigation" %>

<%= yield %>

<%= render partial: "layouts/footer" %>
   
    

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
